:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #9287ff;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Roboto Mono", sans-serif;
	--secondary-font: "Crimson Text", sans-serif;
	--tertiary-font: "Heebo", sans-serif;
	/* --------------------- */
}
